<div class="container" onload="displayAriane()">
    <section id="caroussel">
        <div id="legende">
            <h1><a th:href="${nouveaute}">NOUVELLES OEUVRES</a></h1>
            <a href="#">La légendaire collection Everest</a>
            <a href="#">Explorer la nouvelle collection</a>
        </div><br> <br>
        <div id="slider" th:each="arts : ${oeuvres}">
            <figure>
                <img th:src="@{|images/${arts.link}|}" th:alt="${ arts.title }" width="100px" height="auto">
            </figure>
        </div>
    </section>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <section id="listoeuvres">
        <div id="titre">
            <h1><a th:href="${photographie}">PHOTOGRAPHIE D'ART</a></h1>
            <p>Oeuvres en édition limitée et numérotée avec certificat d'authenticité</p>
        </div>
        <div id="photoeuvre">
            <article th:each="art : ${articles}">
                <figure>
                    <img th:src="@{|images/${art.link}|}" th:alt="${ art.title }">
                    <figcaption>
                        <h4 th:text="${ art.nameArtiste }"></h4>
                        <p1 th:text="${ art.title }"></p1><br>
                        <p1 th:text="${ art.tirage }"></p1><br>
                        <p2> A partir de </p2>
                        <b th:text="${ art.price }"></b>
                    </figcaption>
                </figure>
            </article>
            <div>
                <a href="#"><b>Explorer la nouvelle collection</b></a>
            </div>
    </section><br><br>
    <section id="quatro">
        <article th:each="imag : ${image}">
            <figure>
                <a href="#">
                    <img th:src="@{|images/${imag.link}|}" th:alt="${ imag.title }">
                </a>
                <figcaption>
                    <h4><a th:href="${ imag.nameArtiste }">Noir & Blanc</a></h4>
                    <p><a th:href="${ imag.title }">Des oeuvres intemporelles</a></p>
                    <i><a th:href="${ imag.tirage}">Découvrir la collection</a></i>
                </figcaption>
            </figure>
        </article>
        <!-- <article th:each="imag : ${image}">
            <figure>
                <a href="#">
                    <img th:src="@{|images/${p3.jpg}|}" th:alt="${ imag.title }">
                </a>
                <figcaption>
                    <h4><a th:href="${ imag.nameArtiste }">Voyage</a></h4>
                    <p><a th:href="${ imag.title }">Vivez vos rêves</a></p>
                    <i><a th:href="${ imag.tirage}">Parcourir la collection</a></i>
                </figcaption>
            </figure>
        </article>
        <article th:each="imag : ${image}">
            <figure>
                <a href="#">
                    <img th:src="@{|images/${imag.link}|}" th:alt="${ imag.title }">
                </a>
                <figcaption>
                    <h4><a th:href="${ imag.nameArtiste }">Michelangelo Pistoletto</a></h4>
                    <p><a th:href="${ imag.title }">Edifices oubliés</a></p>
                    <i><a th:href="${ imag.tirage}">Découvrir l'artiste</a></i>
                </figcaption>
            </figure>
        </article>
        <article th:each="imag : ${image}">
            <figure>
                <a href="#">
                    <img th:src="@{|images/${imag.link}|}" th:alt="${ imag.title }">
                </a>
                <figcaption>
                    <h4><a th:href="${ imag.nameArtiste }">Derniers exemplaires</a></h4>
                    <p><a th:href="${ imag.title }">Ne passer pas à côté de votre oeuvre</a></p>
                    <i><a th:href="${ imag.tirage}">Découvrir les oeuvres</a></i>
                </figcaption>
            </figure>
        </article> -->
    </section>
</div>
