<head>
  <!-- STYLESHEET -->
  <link
    rel="stylesheet"
    href="https://code.jquery.com/ui/1.7.3/themes/base/jquery-ui.css"
  />
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <link rel="stylesheet" th:href="@{/css/adresseslivraison.css}" />

  <title>Adresses de livraison</title>
  <!-- DON'T FORGET TO CHANGE -->
</head>

<section id="form" xmlns:th="http://www.thymeleaf.org">
  <h1>Editer vos adresses de livraison</h1>

  <form th:action="@{/adresseslivraison}" method="post">
    <div>
      <label th:for="adresse"
        >Adresse de livraison<span style="color: red">*</span></label
      >
      <br />
      <input type="text" th:field="${adresse.zipCode}" placeholder="CP" />
      <input type="text" th:field="${adresse.city}" placeholder="Ville" />
      <input type="text" th:field="${adresse.num}" placeholder="Numéro" />
      <input type="text" th:field="${adresse.street}" placeholder="Adresse" />
      <input type="text" th:field="${adresse.country}" placeholder="Pays" />
      <input type="hidden" th:field="${adresse.id}" placeholder="Pays" />
      <input
        type="text"
        th:field="${adresse.complement}"
        placeholder="Complément"
      />
      <div
        th:if="${#fields.hasErrors('adresse.zipCode')}"
        th:errors="${adresse.zipCode}"
      ></div>
      <div
        th:if="${#fields.hasErrors('adresse.city')}"
        th:errors="${adresse.city}"
      ></div>
      <div
        th:if="${#fields.hasErrors('adresse.num')}"
        th:errors="${adresse.num}"
      ></div>
      <div
        th:if="${#fields.hasErrors('adresse.street')}"
        th:errors="${adresse.street}"
      ></div>
      <div
        th:if="${#fields.hasErrors('adresse.country')}"
        th:errors="${adresse.country}"
      ></div>
      <div
        th:if="${#fields.hasErrors('adresse.complement')}"
        th:errors="${adresse.complement}"
      ></div>
    </div>

    <div>
      <button type="submit" id="adresseslivraison">Appliquer</button>
    </div>
  </form>

  <script>
    function iscompleted(formulaire) {
      var cp = formulaire.zipCode.value;
      var ville = formulaire.city.value;
      var adresse = formulaire.street.value;
      var btn = document.getElementById("adresseslivraison");

      if ((cp.length > 0, ville.length > 0, adresse.length > 0)) {
        btn.disabled = false;
      } else {
        btn.disabled = true;
      }
    }

    $("#zipCode").autocomplete({
      source: function (request, response) {
        $.ajax({
          url:
            "https://api-adresse.data.gouv.fr/search/?postcode=" +
            $("input[name='zipCode']").val(),
          data: { q: request.term },
          dataType: "json",
          success: function (data) {
            var postcodes = [];
            response(
              $.map(data.features, function (item) {
                // Ici on est obligé d'ajouter les CP dans un array pour ne pas avoir plusieurs fois le même
                if ($.inArray(item.properties.postcode, postcodes) == -1) {
                  postcodes.push(item.properties.postcode);
                  return {
                    label:
                      item.properties.postcode + " - " + item.properties.city,
                    city: item.properties.city,
                    value: item.properties.postcode,
                  };
                }
              })
            );
          },
        });
      },
      // On remplit aussi la ville
      select: function (event, ui) {
        $("#city").val(ui.item.city);
      },
    });
    $("#city").autocomplete({
      source: function (request, response) {
        $.ajax({
          url:
            "https://api-adresse.data.gouv.fr/search/?city=" +
            $("input[name='city']").val(),
          data: { q: request.term },
          dataType: "json",
          success: function (data) {
            var cities = [];
            response(
              $.map(data.features, function (item) {
                // Ici on est obligé d'ajouter les villes dans un array pour ne pas avoir plusieurs fois la même
                if ($.inArray(item.properties.postcode, cities) == -1) {
                  cities.push(item.properties.postcode);
                  return {
                    label:
                      item.properties.postcode + " - " + item.properties.city,
                    postcode: item.properties.postcode,
                    value: item.properties.city,
                  };
                }
              })
            );
          },
        });
      },
      // On remplit aussi le CP
      select: function (event, ui) {
        $("#zipCode").val(ui.item.postcode);
      },
    });
    $("#street").autocomplete({
      source: function (request, response) {
        $.ajax({
          url:
            "https://api-adresse.data.gouv.fr/search/?postcode=" +
            $("input[name='zipCode']").val(),
          data: { q: request.term },
          dataType: "json",
          success: function (data) {
            response(
              $.map(data.features, function (item) {
                return {
                  label: item.properties.name,
                  value: item.properties.name,
                };
              })
            );
          },
        });
      },
    });
  </script>
</section>
