        <link rel="stylesheet" th:href="@{css/help.css}">

        <span></span>

        <form th:action="@{/aide}" method="POST" th:object="${contact}" onchange="validateForm(this)">
            <fieldset>
                <legend>Formulaire d'aide</legend>

                <span id="consigne">Les champs marqués d'un <span style="color: red;">*</span> sont obligatoires.</span>

                <div>
                    <span>Civilité : <span style="color: red;">*</span></span>

                    <span>
                        <label th:for="civ1">M</label>
                        <input type="radio" th:field="*{civ}" th:value="Mr">
                    </span>

                    <span>
                        <label th:for="civ2">Mme</label>
                        <input type="radio" th:field="*{civ}" th:value="Mme">
                    </span>

                    <span>
                        <label th:for="civ3">Melle</label>
                        <input type="radio" th:field="*{civ}" th:value="Melle">
                    </span>
                </div>
                <span class="errorMessageDiv" th:if="${#fields.hasErrors('civ')}" th:errors="*{civ}" style="color: red"></span>

                <div>
                    <label th:for="lastname">Nom : <span style="color: red;">*</span></label>
                    <input type="text" th:field="*{lastname}" placeholder="Votre nom" onblur="validateField(this)" required>
                </div>
                <span class="errorMessageDiv" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}" style="color: red"></span>
                <span id="lastnameSpanError" class="errorMessage"></span>

                <div>
                    <label th:for="firstname">Prenom : <span style="color: red;">*</span></label>
                    <input type="text" th:field="*{firstname}" placeholder="Votre prénom" onblur="validateField(this)" required>
                </div>
                <span class="errorMessageDiv" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}" style="color: red"></span>
                <span id="firstnameSpanError" class="errorMessage"></span>

                <div>
                    <label th:for="mail">Email : <span style="color: red;">*</span></label>
                    <input type="email" th:field="*{mail}" placeholder="Votre email" onblur="validateField(this)" required>
                </div>
                <span class="errorMessageDiv" th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}" style="color: red"></span>
                <span id="mailSpanError" class="errorMessage"></span>

                <div>
                    <label th:for="phone">Téléphone : </label>
                    <input type="tel" th:field="*{phone}" placeholder="Votre téléphone">
                </div>
                <span class="errorMessageDiv" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}" style="color: red"></span>

                <div>
                    <label for="subject">Sujet : <span style="color: red;">*</span></label>
                    <select name="subject" id="subject">
                        <option value="Demande d'aide pour commander - Kartina">Aide pour commander</option>
                        <option value="Après-vente, échange et retour - Kartina">Après-vente, échange et retour</option>
                        <option value="Prolbèmes technique - Kartina">Problèmes technique</option>
                        <option value="Autres sujets - Kartina">Autres sujets</option>
                    </select>
                </div>

                <div>
                    <label th:for="message">Message : <span style="color: red;">*</span></label>
                    <textarea th:field="*{message}" cols="100" rows="10" maxlength="1000" placeholder="Votre message (1000 caractères maximum)" onchange="validateField(this)" required></textarea>
                </div>
                <span class="errorMessageDiv" th:if="${#fields.hasErrors('lastname')}" th:errors="*{message}" style="color: red"></span>
                <span id="messageSpanError" class="errorMessage"></span>

                <div>
                    <button id="sendBtn" type="submit" disabled>Envoyer</button>
                </div>
            </fieldset>
        </form>

        <script th:src="@{js/send_email.js}"></script>
