<!-- <div th:if="${artiste}">
    <span th:text="${artiste}"></span>
    <span th:text="${artiste.email}"></span>
</div> -->


<div class="container">
    <section id="biogra">
        <h1 th:text="${ artiste }"></h1>
        <article>
            <div id="biographie">
                <h2>BIOGRAPHIE</h2>
                <p th:text="${artiste.biographie}"></p>
            </div><br>
            <div th:each="art : ${oeuvrez}">
                <figure>
                    <img th:src="@{|images/${art.link}|}" th:alt="${ art.title }">
                    <figcaption>
                        <a href="">
                            <h4 th:text="${ art.nameArtiste }"></h4>
                        </a>
                        <a href="">
                            <p1 th:text="${ art.title }"></p1>
                        </a><br>
                        <form>
                            <label th:text="${ art.tirage }"></label><br>
                            <input type="text" name="new" id="" value="NOUVEAUTE">
                        </form>
                        <p2>à partir de </p2>
                        <b th:text="${ art.price }"></b>
                    </figcaption>
                </figure>
            </div><br>
        </article>
    </section>
    <span id="social">
        <div>
            <a href="https://www.facebook.com/artnetfr" class="fab fa-facebook" target="_blank"></a>
            <a href="https://twitter.com/artnetfr" class="fab fa-twitter" target="_blank" rel=""></a>
            <a href="http://pinterest.com/artnet/" class="fab fa-pinterest" target="_blank"></a>
            <a href="http://instagram.com/artnet" class="fab fa-instagram" target="_blank"></a>
            <a href="http://www.weibo.com/artnet" class="fab fa-weibo" target="_blank"></a>
        </div>
    </span><br><br>
    <section id="photographiartist">
        <h1>TOUTES LES PHOTOGRAPHIES</h1>
        <article th:each="artz : ${oeuvresz}">
            <figure>
                <a href="">
                    <img th:src="@{|images/${artz.link}|}" th:alt="${ artz.title }">
                </a>
                <figcaption>
                    <a href="">
                        <h4 th:text="${ artz.nameArtiste }"></h4>
                    </a>
                    <a href=""><b th:text="${ artz.title }"></b></a><br>
                    <form>
                        <label th:text="${ artz.tirage }"></label><br>
                        <input type="text" name="new" id="" value="NOUVEAUTE">
                    </form>
                    <p2>à partir de </p2>
                    <b th:text="${ artz.price }"></b>
                </figcaption>
            </figure>
        </article>
        <div id="promo">
            <article th:each="partz : ${oeuvrepromo}">
                <figure>
                    <a href="">
                        <img th:src="@{|images/${partz.link}|}" th:alt="${ partz.title }">
                    </a>
                    <figcaption>
                        <a href="">
                            <h4 th:text="${ partz.nameArtiste }"></h4>
                        </a>
                        <a href=""><b th:text="${ partz.title }"></b></a><br>
                        <form>
                            <label th:text="${ partz.tirage }"></label><br>
                            <input type="text" name="new" id="" value="NOUVELLE DEMARQUE : JUSQU'À -60%">
                        </form>
                        <p2>à partir de </p2>
                        <b th:text="${ partz.price }"></b>
                    </figcaption>
                </figure>
            </article>
        </div>
    </section>
</div>