
<div class="container">
    <section id="biograMp">
        <h1>MICHELANGELO PISTOLETTO</h1>
        <article>
            <div id="biographie">
                <h2>BIOGRAPHIE</h2>
                <p>Michelangelo Pistoletto (né en 1933 à Biella, au Piémont) est un artiste contemporain, peintre et sculpteur italien. Connu à partir des années 1960, il rejoint le mouvement Arte Povera (à partir de 1967). Michelangelo Pistoletto débute en 1947 en tant qu'apprenti dans l'atelier de son père, restaurateur de tableaux. Il collabore avec lui jusqu'en 1958 tout en fréquentant l'école de graphisme publicitaire dirigée par Armando Testa (it). À partir de ce moment-là naît son activité créative dans l'art de la peinture qui s'exprime aussi par les nombreux autoportraits sur des toiles préparées avec apprêt métallique et par la suite sur des surfaces en acier, lustré miroir. 
                    En 1959 il participe à la Biennale di San Marino et l'année suivante il expose à la Galleria Galantayar de Turin. 
                    Au début des années 1960, Pistoletto commence à réaliser des œuvres peintes figuratives et des autoportraits sur un fond monochrome métallique. Par la suite il combine peinture et photographie en utilisant des techniques de collage sur des arrière-plans réfléchissants. Finalement, il se convertit à l'impression photoréaliste de scènes sur des plaques d'acier polis pour rendre une haute finition en utilisant la sérigraphie, qui fond presque complètement l'observateur. Michelangelo Pistoletto commence à peindre sur les miroirs en 1962, reliant la peinture avec les réalités sans cesse changeantes sources de son inspiration. À la fin des années 1960 il commence à réaliser des moulages à partir de chiffons en innovant dans l'« art statuaire classique » omniprésent en Italie. L'art d'utiliser les « matériaux pauvres » est l'un des aspects de la définition de l'Arte Povera (« Art pauvre »)... </p>
            </div>
            <br> 
            <div th:each="art : ${oeuvrez}">
            <figure>
                <!-- <img th:src="@{images/A9.jpg}" th:alt="${ art.title }">  -->
                <figcaption>
                    <a href=""><h4 th:text="${ art.nameArtiste }"></h4></a>
                    <a href=""><p1 th:text="${ art.title }"></p1></a><br>
                    <form>
                        <label th:text="${ art.tirage }"></label><br>
                        <input type="text" name="new" id ="" value="NOUVEAUTE">
                        </form>
                    <p2>à partir de </p2>
                    <b th:text="${ art.price }"></b>
                </figcaption>
            </figure>
        </div><br><br>
            <div id="expression">
                " "La vie est pleine de surprises. On oublie trop souvent les petits bonheurs quotidiens, pour ne songer qu'aux aléas. A force de regarder par terre, on passe à côté des arcs-en-ciel. Pour que vous vous rappeliez des choses essentielles, et pour vous faire passer un agréable moment, on a sélectionné pour vous des meilleurs oeuvres d'arts." "
            </div><br>
        </article>
    </section>
    <span id="social">
        <div>
            <a href="https://www.facebook.com/artnetfr" class="fab fa-facebook" target="_blank"></a>
            <a href="https://twitter.com/artnetfr" class="fab fa-twitter" target="_blank" rel=""></a>
            <a href="http://pinterest.com/artnet/" class="fab fa-pinterest" target="_blank" ></a>
            <a href="http://instagram.com/artnet" class="fab fa-instagram" target="_blank"></a>
            <a href="http://www.weibo.com/artnet" class="fab fa-weibo" target="_blank"></a>
        </div>
    </span><br><br>
    <section id="photographieMp">
        <h1>TOUTES LES PHOTOGRAPHIES</h1>
        <article th:each="artz : ${oeuvresz}">
            <figure>
                <a href="">
                <img th:src="@{|images/${artz.link}|}" th:alt="${ artz.title }">
                </a>
                <figcaption>
                    <a href=""><h4 th:text="${ artz.nameArtiste }"></h4></a>
                    <a href=""><b th:text="${ artz.title }"></b></a><br>
                    <form>
                        <label th:text="${ artz.tirage }"></label><br>
                        <input type="text" name="new" id ="" value="NOUVEAUTE">
                        </form>
                    <p2>à partir de </p2>
                    <b th:text="${ artz.price }"></b>
                </figcaption>
            </figure>
        </article>
        <div id="promoMp">
            <article th:each="partz : ${oeuvrepromo}">
                <figure>   
                    <a href="">
                        <img th:src="@{|images/${partz.link}|}" th:alt="${ partz.title }">
                </a>
                <figcaption>
                    <a href=""><h4 th:text="${ partz.nameArtiste }"></h4></a>
                    <a href=""><b th:text="${ partz.title }"></b></a><br>
                    <form>
                        <label th:text="${ partz.tirage }"></label><br>
                        <input type="text" name="new" id ="" value="NOUVELLE DEMARQUE : JUSQU'À -60%">
                        </form>
                    <p2>à partir de </p2>
                    <b th:text="${ partz.price }"></b>
                </figcaption>
            </figure>
        </article>
    </div>
    </section>
</div>

