
        <p>
            <i>"En naviguant sur notre site, l’internaute reconnaît avoir pris connaissance et accepté nos conditions générales d’utilisation"</i>
        </p>

        <br>

        <h3>
            Données personnelles :
        </h3>

        <br>

        <p>
            Les données personnelles qui peuvent vous être demandées sont vos nom, prénom, adresse mails, adresse postale, coordonnées bancaires.<br>
            Le traitement de ces données dont le responsable est <b>Mr S. Michaux</b> est en conformité avec le Règlement général de protection des données personnelles entré en vigueur le 25 Mai 2018.<br>
            Vous pouvez faire valoir vos droits de consultation, de rectification et de suppression en le contactant à l’adresse suivante kartina-client@kartina.com<br>
            Nous nous engageons à ne pas revendre ni donner ces informations qui ne sont pas conservées dès lors que vous demandez à ne plus recevoir notre newsletter.<br>
        </p>

        <br>

        <h3>
            Cookies :
        </h3>

        <br>

        <p>
            En vue d’améliorer notre site, nous utilisons Google Analytics qui est un outil « d'analyse d'audience Internet permettant aux propriétaires de sites Web et d'applications de mieux comprendre le comportement de leurs utilisateurs. Cet outil peut utiliser des cookies pour collecter des informations et générer des rapports sur les statistiques d'utilisation d'un site Web sans que les utilisateurs individuels soient identifiés personnellement par Google.<br>
            Outre la génération de rapports sur les statistiques d'utilisation d'un site Web, Google Analytics permet également, en association avec certains des cookies publicitaires décrits ci-dessus, d'afficher des annonces plus pertinentes sur les sites Google (tels que la recherche Google) et sur le Web. »<br>
            <a href="https://www.google.fr/intl/fr/policies/technologies/types/">https://www.google.fr/intl/fr/policies/technologies/types/</a><br>
            Nous utilisons également les cookies nécessaires à l’amélioration de votre navigation sur notre site tenant compte exclusivement de votre navigateur.<br>
        </p>

        <br>

        <h3>
            Propriété intellectuelle :
        </h3>

        <br>

        <p>
            Le site web a été réalisé par notre équipe <b>CoVEd</b>.<br>
            Il est la propriété de l’association et ne peut faire l’objet de reproduction.<br>
        </p>

        <br>

        <h3>
            Photographies et contenu :
        </h3>

        <br>

        <p>
            Les photographies, vidéos,  textes et  illustrations  publiés sur le site sont propriété de l’association ou ont fait l’objet de cession de droits.<br>
            Ils  ne peuvent faire l’objet d’aucune réutilisation.<br>
        </p>

        <br>

        <h3>
            Liens hypertextes :
        </h3>

        <br>

        <p>
            Le site <a href="https://www.kartina.fr">https://www.kartina.fr</a> peut contenir des liens hypertextes renvoyant à des pages ou des sites dont le contenu ne peut engager en rien l’association.<br>
            Les liens hypertextes renvoyant vers notre site sont les bienvenus lorsqu’ils émanent de sites respectant la législation en vigueur."
        </p>