<head>

    <!-- STYLESHEET -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.7.3/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" th:href="@{css/compteutilisateur.css}">

    <title>Compte utilisateur</title><!-- DON'T FORGET TO CHANGE -->

</head>

<!-- YOUR CODE HERE -->
<section>

    <article>
        <nav>
            <b>Mon compte</b>

            <ul>
                <li><a th:href="@{donneespersonnelles}">Données personnelles</a></li>
                <li><a th:href="@{tableauadresseslivraison}">Mes adresses</a></li>
                <li th:if="${session.user.role == T(com.kartina.spring.enums.RoleEnum).ADMIN}"><a th:href="@{tableauutilisateurs}">Liste des utilisateurs</a></li>
            </ul>


            <b>Historique de commandes</b>

            <ul>

                <li><a href="#">Historique de vos commandes</a></li>

            </ul>

        </nav>

    </article>

    <article>

        <h1>Mon compte</h1>

        <div id="user" class="mon_compte">
            <img class="size_svg" th:src="@{images/user.svg}" alt="Avatar Utilisateur">
            <b>Données</b>
        </div>

        <ul>

            <li><a th:href="@{donneespersonnelles}">Afficher ou mettre à jour vos informations
                    personnelles</a></li>

        </ul>

        <div id="colis" class="mon_compte">
            <img class="size_svg" th:src="@{images/box.svg}" alt="Avatar Colis">
            <b>Commandes</b>
        </div>

        <ul>

            <li><a href="#">Vérifie le statut de vos commandes ou voir les commandes passées</a></li>

        </ul>

        <div id="adresse" class="mon_compte">
            <img class="size_svg" th:src="@{images/house.svg}" alt="Avatar Maison">
            <b>Adresses</b>
        </div>

        <ul>

            <li><a th:href="@{tableauadresseslivraison}">Gérer vos adresses de livraison et de facturation</a>
            </li>

        </ul>

    </article>
</section>
<script>
    // Show div html based on role
    if (user.role == "admin") {
        $("li.admin").show();
    }
</script>