<head>

    <!-- STYLESHEET -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.7.3/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" th:href="@{css/creationcompte.css}">

    <title>Création compte</title><!-- DON'T FORGET TO CHANGE -->

</head>


<section id="form" xmlns:th="http://www.thymeleaf.org">

    <h1> Création de votre compte </h1>

    <div th:if="${emailExist}" th:text="${emailExist}" style="color: red"></div>

    <form th:action="@{/creationcompte}" method="post">

        <div>
            <label th:for="Gtype" th:each="gender : ${GtypeEnumList}"
                th:utext="|${gender.type}<span style='color: red;'>*</span>|"></label>
            <br>
            <input type="radio" th:each="gender : ${GtypeEnumList}" th:field="${user.Gtype}" th:value="${gender}"
                placeholder="">
            <div th:if="${#fields.hasErrors('user.Gtype')}" th:errors="${user.Gtype}"></div>
        </div>
        
        <div>
            <label th:for="lastname">Nom<span style="color: red;">*</span></label>
                        <br>
                        <input type="text" th:field="${user.lastname}" placeholder="Nom">
                        <div th:if="${#fields.hasErrors('user.lastname')}" th:errors="${user.lastname}"></div>
                    </div>
                    <div>
                        <label th:for="firstname">Prénom<span style="color: red;">*</span></label>
                        <br>
                        <input type="text" th:field="${user.firstname}" placeholder="Prénom">
                        <div th:if="${#fields.hasErrors('user.firstname')}" th:errors="${user.firstname}"></div>
                    </div>
                    
                    <div>
                        <label th:for="email">Adresse e-mail<span style="color: red;">*</span></label>
                        <br>
                        <input type="email" th:field="${user.email}" placeholder="Email">
                        <div th:if="${#fields.hasErrors('user.email')}" th:errors="${user.email}"></div>
                    </div>
                    <div>
                        <label th:for="pwd">Mot de passe<span style="color: red;">*</span></label>
                        <input type="password" th:field="${user.pwd}" placeholder="Mot de passe">
                        <div th:if="${#fields.hasErrors('user.pwd')}" th:errors="${user.pwd}"></div>
                    </div>

                    <div>
                        <label for="pwd_verif">Vérification du mot de passe<span style="color: red;">*</span></label>
                        <br>
                        <input type="password" name="pwd_verif" id="pwd_verif" placeholder="Mot de passe"
                        onkeyup="isSamePassword(this.form);" >
                    </div>
                        
                    <div>
                        <label th:for="phone">Téléphone<span style="color: red;">*</span></label>
                        <input type="text" th:field="${user.phone}" placeholder="Téléphone">
                        <div th:if="${#fields.hasErrors('user.phone')}" th:errors="${user.phone}"></div>
                    </div>
                    
                    
                    <div>

                        <label th:for="adresse">Adresse de livraison<span style="color: red;">*</span></label>
                        <br>
                        <input type="text" th:field="${adresse.zipCode}" placeholder="CP">
                        <input type="text" th:field="${adresse.city}" placeholder="Ville">
                        <input type="text" th:field="${adresse.num}" placeholder="Numéro">
                        <input type="text" th:field="${adresse.street}" placeholder="Adresse">
                        <input type="text" th:field="${adresse.country}" placeholder="Pays">
                        <input type="text" th:field="${adresse.complement}" placeholder="Complément">
                        <div th:if="${#fields.hasErrors('adresse.zipCode')}" th:errors="${adresse.zipCode}"></div>
                        <div th:if="${#fields.hasErrors('adresse.city')}" th:errors="${adresse.city}"></div>
                        <div th:if="${#fields.hasErrors('adresse.num')}" th:errors="${adresse.num}"></div>
                        <div th:if="${#fields.hasErrors('adresse.street')}" th:errors="${adresse.street}"></div>
                        <div th:if="${#fields.hasErrors('adresse.country')}" th:errors="${adresse.country}"></div>
                        <div th:if="${#fields.hasErrors('adresse.complement')}" th:errors="${adresse.complement}"></div>
                        <br>
                        
                          
                    </div>
                    
                    <div>
                        <button type="submit" id="creationcompte" disabled="true">Création du compte</button>
                    </div>

                </form>

                <link rel="stylesheet" href="https://code.jquery.com/ui/1.7.3/themes/base/jquery-ui.css">
                <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
                <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
                <link rel="stylesheet" th:href="@{css/creationcompte.css}">

                <script>



                    function isSamePassword(formulaire) {


                        var prenom = formulaire.firstname.value;
                        var nom = formulaire.lastname.value;
                        var email = formulaire.email.value;
                        var telephone = formulaire.num.value;
                        var cp = formulaire.zipCode.value;
                        var ville = formulaire.city.value;
                        var adresse = formulaire.street.value;
                        var pwd = formulaire.pwd.value;
                        var pwdVerif = formulaire.pwd_verif.value;
                        var btn = document.getElementById("creationcompte");

                        if (prenom.length > 0, nom.length > 0, email.length > 0, telephone.length > 0, cp.length > 0, ville.length > 0, adresse.length > 0, pwd.length > 0) {

                            if (pwd == pwdVerif) {

                                btn.disabled = false;
                                formulaire.pwd_verif.style.border = "2px solid green";


                            } else {


                                btn.disabled = true;
                                formulaire.pwd_verif.style.border = "2px solid red";
                            }
                        } else {
                            btn.disabled = true;
                            formulaire.pwd_verif.style.border = "2px solid red";
                        }

                    }


                    $("#zipCode").autocomplete({
                        source: function (request, response) {
                            $.ajax({
                                url: "https://api-adresse.data.gouv.fr/search/?postcode=" + $("input[name='zipCode']").val(),
                                data: { q: request.term },
                                dataType: "json",
                                success: function (data) {
                                    var postcodes = [];
                                    response($.map(data.features, function (item) {
                                        // Ici on est obligé d'ajouter les CP dans un array pour ne pas avoir plusieurs fois le même
                                        if ($.inArray(item.properties.postcode, postcodes) == -1) {
                                            postcodes.push(item.properties.postcode);
                                            return {
                                                label: item.properties.postcode + " - " + item.properties.city,
                                                city: item.properties.city,
                                                value: item.properties.postcode
                                            };
                                        }
                                    }));
                                }
                            });
                        },
                        // On remplit aussi la ville
                        select: function (event, ui) {
                            $('#city').val(ui.item.city);
                        }
                    });
                    $("#city").autocomplete({
                        source: function (request, response) {
                            $.ajax({
                                url: "https://api-adresse.data.gouv.fr/search/?city=" + $("input[name='city']").val(),
                                data: { q: request.term },
                                dataType: "json",
                                success: function (data) {
                                    var cities = [];
                                    response($.map(data.features, function (item) {
                                        // Ici on est obligé d'ajouter les villes dans un array pour ne pas avoir plusieurs fois la même
                                        if ($.inArray(item.properties.postcode, cities) == -1) {
                                            cities.push(item.properties.postcode);
                                            return {
                                                label: item.properties.postcode + " - " + item.properties.city,
                                                postcode: item.properties.postcode,
                                                value: item.properties.city
                                            };
                                        }
                                    }));
                                }
                            });
                        },
                        // On remplit aussi le CP
                        select: function (event, ui) {
                            $('#zipCode').val(ui.item.postcode);
                        }
                    });
                    $("#street").autocomplete({
                        source: function (request, response) {
                            $.ajax({
                                url: "https://api-adresse.data.gouv.fr/search/?postcode=" + $("input[name='zipCode']").val(),
                                data: { q: request.term },
                                dataType: "json",
                                success: function (data) {
                                    response($.map(data.features, function (item) {
                                        return { label: item.properties.name, value: item.properties.name };
                                    }));
                                }
                            });
                        }
                    });
                </script>
            </section>