<head>
  <!-- STYLESHEET -->
  <link
    rel="stylesheet"
    href="https://code.jquery.com/ui/1.7.3/themes/base/jquery-ui.css"
  />
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <link rel="stylesheet" th:href="@{css/donneespersonnelles.css}" />

  <title>Données personnelles</title>
  <!-- DON'T FORGET TO CHANGE -->
</head>

<!-- YOUR CODE HERE -->

<section id="form" xmlns:th="http://www.thymeleaf.org">
  <h1>Editer mes données personnelles</h1>

  <div th:if="${emailExist}" th:text="${emailExist}" style="color: red"></div>

  <form th:action="@{|/donneespersonnellesadmin/${user.email}|}" method="post">
    <div>
      <label th:for="lastname">Nom<span style="color: red">*</span></label>
      <br />
      <input
        type="text"
        th:field="${user.lastname}"
        placeholder="Nom"
        disabled
      />
      <div
        th:if="${#fields.hasErrors('user.lastname')}"
        th:errors="${user.lastname}"
      ></div>
    </div>
    <div>
      <label th:for="firstname">Prénom<span style="color: red">*</span></label>
      <br />
      <input
        type="text"
        th:field="${user.firstname}"
        placeholder="Prénom"
        disabled
      />
      <div
        th:if="${#fields.hasErrors('user.firstname')}"
        th:errors="${user.firstname}"
      ></div>
    </div>
    <div>
      <label th:for="email"
        >Adresse e-mail<span style="color: red">*</span></label
      >
      <br />
      <input
        type="email"
        th:field="${user.email}"
        placeholder="Email"
        disabled
      />
      <div
        th:if="${#fields.hasErrors('user.email')}"
        th:errors="${user.email}"
      ></div>
    </div>
    <div>
      <label th:for="role">Role<span style="color: red">*</span></label>
      <br />
      <select th:field="${user.role}" placeholder="Role">
        <option
          th:value="${role}"
          th:each="role : ${T(com.kartina.spring.enums.RoleEnum).values()}"
          th:text="${role}"
        ></option>
      </select>
      <div
        th:if="${#fields.hasErrors('user.role')}"
        th:errors="${user.role}"
      ></div>
    </div>

    <div>
      <button type="submit" id="appliquer">Appliquer</button>
    </div>
  </form>
</section>

<!-- <script>

                    function formcomplete(formulaire){
                    
                    var civilite=formulaire.civilite.value;
                    var prenom=formulaire.prenom.value;
                    var nom=formulaire.nom.value;
                    var email=formulaire.email.value;
                    var telephone=formulaire.telephone.value;
                    var btn=document.getElementById("appliquer"); 
                    
                    if(civilite.length>0, prenom.length > 0, nom.length > 0, email.length > 0, telephone.length > 0){
                    
                        btn.disabled=false;   
                        
                        }else{ 
                            
                            btn.disabled=true;
                            
                            }
                    }

                    </script> -->
