<section id="forgetpwd" xmlns:th="http://www.thymeleaf.org">


    <form th:action="@{/forgetpwd}" method="post" th:object="${user}">

        <h2>Déjà client ?</h2>
        <div>
            <label th:for="email">Merci de saisir ci-dessous l'email utilisé lors de la création de votre compte<span style="color: red;">*</span></label>
            <br>
            <input type="email" th:field="*{email}" placeholder="Email">
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                    </div>
                    <div>
                        <label th:for="commentaire">Un email avec un mot de passe provisoire vous sera envoyé sous 24h</label>
                        <br>
                       
                    </div>
                    
                    <div>
                        <button type="submit" id="envoyer">Envoyer</button>
                    </div>
                </form>

                
                
    </section>
        

            <link rel="stylesheet" href="https://code.jquery.com/ui/1.7.3/themes/base/jquery-ui.css">
                <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
                <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
                <link rel="stylesheet" th:href="@{css/forgetpwd.css}">
          