
<section id="header">
    <nav class="" xmlns:th="http://www.thymeleaf.org">
        <b><a class="" th:href="@{/user}">Home</a></b>
        <div class="" id="listoeuvres">
            <ul class="mr-auto">
                <li class="item">
                    <b><a class="link" href="#" id="">Oeuvres</a></b>
                    <div class="menu" aria-labelledby="navbarDropdown">
                        <b><a class="item" th:href="@{/user/oeuvres}">Toutes les oeuvres</a></b>
                        <b><a class="item" th:href="@{/user/oeuvres/add}">Ajout d'une oeuvre</a></b>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</section>
<!-- <section id="table">
<div class="p-5">
    <table class="table table-striped" xmlns:th="http://www.thymeleaf.org">
        <thead>
        <tr>
            <th scope="col">Ref</th>
            <th scope="col">NameArtiste</th>
            <th scope="col">Title</th>
            <th scope="col">Link</th>
            <th scope="col">Tirage</th>
            <th scope="col">Price</th>
            <th scope="col">DateAjout</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="art : ${articles}" th:object="${art}">
            <th scope="row" th:text="*{ref}"></th>
            <td th:text="*{nameArtiste}">Mark</td>
            <td th:text="*{title}">Mark</td>
            <td th:text="*{link}">Otto</td>
            <td th:text="*{tirage}">Mark</td>
            <td th:text="*{price}">Mark</td>
            <td th:text="*{dateAjout}">@mdo</td>
            <td>
                <a th:href="@{|/user/oeuvres/*{ref}?action=update|}">
                    <button class="" id="modifie">Modifié</button>
                </a>
                <a th:href="@{|/user/oeuvres/*{ref}?action=delete|}">
                    <button class="" id="supprime">Supprimer</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
  </div>
</section> -->
<section id="formulaire">
    <form class="p-5" th:action="@{|/user/oeuvres${action}|}" method="post" enctype="multipart/form-data"
        th:object="${oeuvre}" xmlns:th="http://www.thymeleaf.org">

        <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${ errorMessage }">
            <span th:text="${ errorMessage }"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="form-group">
            <label for="ref">Ref</label>
            <input type="text" class="form-control" th:field="*{id}">
        </div>

        <div class="form-group">
            <label for="nameArtiste">NameArtiste</label>
            <input type="text" class="form-control" th:field="*{nameArtiste}">
            <div th:if="${#fields.hasErrors('nameArtiste')}" th:errors="*{nameArtiste}"></div>
    </div>

    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" th:field="*{title}">
        <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
    </div>

    <img th:src="@{|/images/*{link}|}" alt="" width="100px" height="auto" id="imageToSrc">

    <div class="form-group custom-file">
        <label for="image" class="custom-file-label">Link</label>
        <input type="file" accept="image/jpeg,image/png,image/heic,image/webp"
               class="custom-file-input"
               id="image" name="image">
    </div>
    <input type="hidden" th:field="*{link}">

    <div class="form-group">
        <label for="price">Price</label>
        <input type="number" id="price" class="form-control" th:field="*{price}">
        <div th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
    </div>

    <div class="form-group">
        <label for="tirage">Tirage</label>
        <input type="text" class="form-control" th:field="*{tirage}">
    </div>

    <div class="form-group">
        <label for="dateAjout">DateAjout</label>
        <input type="date" id="dateAjout" class="form-control" th:field="*{dateAjout}">
    </div>

    <button type="submit" id="submit" class="">Envoyer</button>
</form>
</section>

<div id="form"> 
    <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${ message }">
        <span th:text="${ message }"></span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

<script>
    (function (){
        const file = document.querySelector("input[type=file]");
        file.addEventListener("change", function (e){
            document.querySelector("form > div.form-group.custom-file > label.custom-file-label").innerHTML = e.target.files[0].name;
            const img = document.getElementById("imageToSrc");
            const fr = new FileReader();
            fr.onload = function (){
                img.src = fr.result
            }
            fr.readAsDataURL(e.target.files[0]);
        });
    })()
</script>