<section id="login" xmlns:th="http://www.thymeleaf.org">


    <form th:action="@{/login}" method="post" th:object="${user}">

        <h2>Déjà client ?</h2>
        <div>
            <label th:for="email">Email<span style="color: red;">*</span></label>
            <br>
            <input type="email" th:field="*{email}" placeholder="Email">
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
                    </div>
                    <div>
                        <label th:for="pwd">Mot de passe<span style="color: red;">*</span></label>
                        <br>
                        <input type="password" th:field="*{pwd}" placeholder="Mot de passe">
                        <div th:if="${#fields.hasErrors('pwd')}" th:errors="*{pwd}"></div>
                        <br>
                        <a href="forget">Mot de passe oublié ?
                        </a>
                    </div>
                    <p th:if="${ accountError }" th:text="${ accountError }"></p>
                    
                    <div>
                        <button type="submit" id="seconnecter">Se connecter</button>
                    </div>
                </form>

                <form>
                        <h2>Vous n'avez pas de compte Kartina</h2>
                        <br>
                        <label th:for="nouveaucompte">Vous pouvez créer un compte ici</label>
                        <br>
                        <br>
                        <div>
                        <button type="submit" formaction="creationcompte"; id="creercompte">Créer un compte</button>
                        </div>
                    
                </form>
                
    </section>
        

            <link rel="stylesheet" href="https://code.jquery.com/ui/1.7.3/themes/base/jquery-ui.css">
                <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
                <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
                <link rel="stylesheet" th:href="@{css/login.css}">
          