<div class="container">
    <div class="collapsibledropdown">
        <nav>
            <button type="button" class="collapsible">Femme</button>
            <div class="content">
                <ul>
                    <li><a href="#femme.html">Toutes les photographies Femme</a></li><br>
                    <li><a href="#Célébrités.html">Célébrités</a></li><br>
                    <li><a href="#Légendes de la mode.html">Légendes de la mode</a></li><br>
                    <li><a href="#Nu.html">Nu</a></li><br>
                    <li><a href="#Portrait.html">Portrait</a></li>
                </ul>
            </div>
            <p></p>
            <button type="button" class="collapsible">Nature</button>
            <div class="content">
                <ul>
                    <li><a href="#nature.html">Toutes les photographies Nature</a></li><br>
                    <li><a href="#Animal.html">Animal</a></li><br>
                    <li><a href="#Eléphant.html">Eléphant</a></li><br>
                    <li><a href="#Flore.html">Flore</a></li><br>
                    <li><a href="#Lion.html">Lion</a></li><br>
                    <li><a href="#Lune.html">Lune</a></li>
                </ul>
            </div>
            <p></p>
            <button type="button" class="collapsible">Urban</button>
            <div class="content">
                <ul>
                    <li> <a href="#photographies_urban.html">Toutes les photographies Urban</a></li><br>
                    <li><a href="#Architecture.html">Architecture</a></li><br>
                    <li><a href="#Hong Kong.html">Hong Kong</a></li><br>
                    <li><a href="#New York.html">New York</a></li><br>
                    <li><a href="#Nuit.html">Nuit</a></li><br>
                    <li><a href="#Paris.html">Paris</a></li><br>
                    <li><a href="#Piscine.html">Piscine</a></li>
                </ul>
            </div>
            <p></p>
            <button type="button" class="collapsible">Noir et blanc</button>
            <div class="content">
                <ul>
                    <li><a th:href="@{/noirblanc}">Toutes les photographies Noir & Blanc</a></li><br>
                </ul>
            </div>
            <p></p>
            <button type="button" class="collapsible">Paysage</button>
            <div class="content">
                <ul>
                    <li><a href="#photographies-paysage.html">Toutes les photographies Paysage</a></li><br>
                    <li><a href="#Désert.html">Désert</a></li><br>
                    <li> <a href="#Forêt.html">Forêt</a></li><br>
                    <li><a href="#Mer.html">Mer</a></li><br>
                    <li><a href="#Montagne.html">Montagne</a></li><br>
                    <li> <a href="#Paysages fleuris.html">Paysages fleuris</a></li><br>
                    <li><a href="#Vue aérienne.html">Vue aérienne</a></li>
                </ul>
            </div>
            <p></p>
            <button type="button" class="collapsible">Voyage</button>
            <div class="content">
                <ul>
                    <li><a th:href="@{/voyage}">Toutes les photographies Voyage</a></li><br>
                    <li><a href="#Afrique & Moyen Orient.html">Afrique & Moyen Orient</a></li><br>
                    <li><a href="#Amérique du Nord.html">Amérique du Nord</a></li><br>
                    <li><a href="#Amérique latine.html">Amérique latine</a></li><br>
                    <li><a href="#Asie.html">Asie</a></li><br>
                    <li><a href="#Europe.html">Europe</a></li><br>
                    <li><a href="#Grand froid.html">Grand froid</a></li><br>
                    <li><a href="#Iles.html">Iles</a></li>
                </ul>
            </div>
            <p></p>
            <button type="button" class="collapsible">Vintage</button>
            <div class="content">
                <ul>
                    <li><a href="#vintage.html">Toutes les photographies Vintage</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div id="spaceleft">
        <section>
            <div id="blackwhite">
                <h2>NOIR ET BLANC</h2>
                <p>
                    Malgré les avancées technologiques la photographie en noir et blanc et notamment les photographies
                    de portraits en noir et blanc sont toujours un mode d'expression artistique contemporain, une valeur
                    sûre qui reste chic. La photographie en noir et blanc est d'une poésie remarquable, permettant de
                    sublimer son sujet tout en lui apportant de la profondeur.
                    Aujourd’hui la photographie noir et blanc et notamment le portrait en noir et blanc est devenu un
                    indispensable de la décoration d’intérieur, son rendu intemporel se marie parfaitement avec tous
                    types d’intérieurs, qu’ils soient modernes ou plus classiques.
                </p>
            </div>
        </section>
        <section id="photographie">
            <h1>TOUTES LES PHOTOGRAPHIES NOIR & BLANC</h1>
            <div id="blackphotography">
                <th:block th:each="theme : ${themes}">

                <article th:each="blaw : ${theme.oeuvres}">
                    <figure>
                        <a href="">
                            <img th:src="@{|/images/${blaw.link}|}" th:alt="${ blaw.title }">
                        </a>
                        <figcaption>
                            <a href="">
                                <h4 th:text="${ blaw.nameArtiste }"></h4>
                            </a>
                            <a href=""><b th:text="${ blaw.title }"></b></a><br>
                            <div id="blawhite">
                                <form>
                                    <label>Edition limitée</label><br>
                                    <input type="text" name="new" id="" value="CETTE ŒUVRE PREND DE LA VALEUR">
                                </form>
                            </div>
                            <p2>à partir de </p2>
                            <b th:text="${ blaw.price }"></b>
                        </figcaption>
                    </figure>
                </article>
            </th:block>
            </div>
        </section>
        <section id="pagin">
            <h1>Bloc de pagination</h1>
            <div id="pagination">
                <article th:each="pag : ${pagina}">
                    <figure>
                        <a href="">
                            <img th:src="@{|images/${pag.link}|}" th:alt="${ pag.title }">
                        </a>
                        <figcaption>
                            <a href="">
                                <h4 th:text="${ pag.nameArtiste }"></h4>
                            </a>
                            <a href=""><b th:text="${ pag.title }"></b></a><br>
                            <div id="laste">
                                <form>
                                    <!-- <label th:text="${ last.tirage }"></label><br> -->
                                    <label>Edition limitée</label><br>
                                    <input type="text" name="new" id="" value="CETTE OUEVRE PREND DE LA VALEUR">
                                </form>
                            </div>
                            <p2>à partir de </p2>
                            <b th:text="${ pag.price }"></b>
                        </figcaption>
                    </figure>
                </article>
            </div>
        </section>
        <div>
            <nav aria-label="navigation">
                <ul class="pager">
                    <li class="previous"><a href="#" title="Précédent">Précédent</a></li>
                    <li class="next"><a href="#" title="Suivant">Suivant</a></li>
                </ul>
            </nav>
        </div>
    </div>