<div class="container">
    <div class="dropdown">
        <nav>
            <ul>
                <li><a th:href="@{/photographie}">Photographies</a></li><br>
                <li>
                    <a href="#">Thèmes</a>
                    <ul>
                        <li><a href="#femme.html">Femme</a></li>
                        <li><a href="#nature.html">Nature</a></li>
                        <li><a th:href="@{/noirblanc}">Noir et blanc</a></li>
                        <li><a href="#paysage.html">Paysage</a></li>
                        <li><a href="#urban.html">Urban</a></li>
                        <li><a href="#vintage.html">Vintage</a></li>
                        <li><a th:href="@{/voyage}">Voyage</a></li>
                    </ul>
                </li><br>
                <li><a href="#">Orientation</a>
                    <span id="clear_orientation" class="texte" style="display: none;"
                        onclick="unchecking('orientation_check', this)"> Effacer</span>
                    <ul>
                        <li><input class="orientation_check" type="checkbox" name="portrait" id=""><label for paysage>
                                Portrait</label></li>
                        <li><input class="orientation_check" type="checkbox" name="paysage" id=""><label for paysage>
                                Paysage</label>
                        </li>
                        <li><input class="orientation_check" type="checkbox" name="carré" id=""><label for Carré>
                                Carré</label></li>
                        <li><input class="orientation_check" type="checkbox" name="panoramique" id=""><label for
                                Panoramique> Panoramique</label></li>
                    </ul>
                </li><br>
                <li><a href="#">Formats</a>
                    <span id="clear_format" class="texte" style="display: none;"
                        onclick="unchecking('format_check', this)"> Effacer</span>
                    <ul>
                        <li><input type="checkbox" name="Classique" class="format_check"> Classique <br>
                            <p>40x50cm</p>
                        </li>
                        <li><input type="checkbox" name="grand" class="format_check"> Grand <br>
                            <p>60x90cm</p>
                        </li>
                        <li><input type="checkbox" name="Géant" class="format_check"> Géant<br>
                            <p>100x150cm</p>
                        </li>
                        <li><input type="checkbox" name="Collector" class="format_check"> Collector<br>
                            <p>120x180cm</p>
                        </li>
                    </ul>
                </li><br>
                <li><a href="#">Prix</a>
                    <span id="clear_price" class="texte" style="display: none;"
                        onclick="unchecking('price_check', this)"> Effacer</span>
                    <ul>
                        <li><input type="checkbox" class="price_check"> Moins de 50 €</li>
                        <li><input type="checkbox" class="price_check"> De 50 € à 100 €</li>
                        <li><input type="checkbox" class="price_check"> De 100 € à 200 € </li>
                        <li><input type="checkbox" class="price_check"> De 200 € à 500 € </li>
                        <li><input type="checkbox" class="price_check"> De 500 € à 1000 € </li>
                    </ul>
                </li><br>
                <li><a th:href="@{/nouveaute}">Nouveautés</a></li><br>
                <li><a th:href="@{/dernierexemplaire}">Derniers exemplaires</a></li>
            </ul>
        </nav>
    </div>
    <div id="spaceleft">
        <section>
            <div id="blackwhite">
                <h2>NOUVEAUTÉS</h2>
                <p>
                    La photographie contemporaine est riche de ses nouveaux talents et de ses grands noms. YellowKorner
                    a l’honneur de vous présenter dans sa collection de nouvelles signatures prestigieuses et vous
                    invite à découvrir ces révélations. Parcourez les nouvelles photos d’art des plus grands talents de
                    la photographie sélectionnés par notre comité artistique et exposés dans nos galeries.
                </p>
            </div>
            <span>
                <div id="space"></div>
            </span>
        </section>
        <section id="photographie">
            <h1>TOUTES LES PHOTOGRAPHIES</h1>
            <div id="newphotography">
                <article th:each="pic : ${picture}">
                    <figure>
                        <a href="">
                            <img th:src="@{|images/${pic.link}|}" th:alt="${ pic.title }">
                        </a>
                        <figcaption>
                            <a href="">
                                <h4 th:text="${ pic.nameArtiste }"></h4>
                            </a>
                            <a href=""><b th:text="${ pic.title }"></b></a><br>
                            <form>
                                <label th:text="${ pic.tirage }"></label><br>
                                <input type="text" name="new" id="" value="NOUVEAUTE">
                            </form>
                            <p2>à partir de </p2>
                            <b th:text="${ pic.price }"></b>
                        </figcaption>
                    </figure>
                </article>
            </div>
        </section>
        <!--Display of results, sorting and pagination-->
        <section id="pagin">
            <h1>Bloc de pagination</h1>
            <div></div>
        </section>
        <div>
            <nav aria-label="navigation">
                <ul class="pager">
                    <li class="previous"><a href="#" title="Précédent">Précédent</a></li>
                    <li class="next"><a href="#" title="Suivant">Suivant</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
