<section id="oeuvres" xmlns:th="http://www.thymeleaf.org">
	
    <article th:each="imag : ${oeuvres}">
        <figure>
            <img
                th:src="@{|images/${imag.link}|}"
                th:alt="${ imag.title }">
            <figcaption>
                <h4 th:text="${ imag.nameArtiste }"></h4>
                <p1 th:text="${ imag.title }"></p1>
                <p2 th:text="${ imag.tirage }"></p2>
                <b th:text="${ imag.price }"></b>
            </figcaption>
        </figure>
    </article>
</section>
