<link rel="stylesheet" th:href="@{css/panier.css}">

<div th:if="${panier == null}" id="empty">
    <figure>
        <img th:src="@{images/empty-cart.png}" alt="">
        <figcaption>
            <h4>Panier vide</h4>
        </figcaption>
    </figure>
</div>

<div th:if="${panier != null}" id="notEmpty">
    <article th:each="a : ${panier}">
        <figure>
            <img th:src="@{|images/${a.link}|}" th:alt="${a.titre}">
        </figure>
        <div id="details">
            <p>
                <span th:text="${a.titre}"></span>
            </p>
            <p>
                Format : <span th:text="${a.format}"></span>
            </p>
            <p>
                Cadre : <span th:text="${a.cadre}"></span>
            </p>
            <p>
                Finition : <span th:text="${a.finition}"></span>
            </p>
            <p>
                Prix : <span th:text="${a.price}"></span> €
            </p>
        </div>
        <div id="buttons">
            <a th:href="@{|/panier?action=delete&id=${a.id}|}">
                <button type="button" class="fas fa-trash" title="Supprimer"></button>
            </a>
        </div>
    </article>

    <div id="total">
        Sous-total (<span th:text="${quantite}"></span>
            <span th:if="${quantite} > 1">articles)</span>
            <span th:if="${quantite} == 1">article)</span>
        : <span id="totalPrice" th:text="${amount/100}"></span> €
    </div>

    <a th:href="@{panier/checkout}">
        <button id="checkoutBtn" type="submit">
            Acheter <i class="fas fa-shopping-basket"></i>
        </button>
    </a>

</div>
