<div class="container">
    <div class="dropdown">
        <nav>
            <ul>
                <li><a th:href="@{/photographie}">Photographies</a></li><br>
                <li>
                    <a href="#">Thèmes</a>
                    <ul>
                        <li><a href="#">Femme</a></li>
                        <li><a href="#">Nature</a></li>
                        <li><a th:href="@{/noirblanc}">Noir et blanc</a></li>
                        <li><a href="#">Paysage</a></li>
                        <li><a href="#">Urban</a></li>
                        <li><a href="#">Vintage</a></li>
                        <li><a th:href="@{/voyage}">Voyage</a></li>
                    </ul>
                </li><br>
                <li><a href="#">Orientation</a>
                    <span id="clear_orientation" class="texte" style="display: none;"
                        onclick="unchecking('orientation_check', this)"> Effacer</span>
                    <ul>
                        <li><input class="orientation_check" type="checkbox" name="portrait" id=""><label for paysage>
                                Portrait</label></li>
                        <li><input class="orientation_check" type="checkbox" name="paysage" id=""><label for paysage>
                                Paysage</label>
                        </li>
                        <li><input class="orientation_check" type="checkbox" name="carré" id=""><label for Carré>
                                Carré</label></li>
                        <li><input class="orientation_check" type="checkbox" name="panoramique" id=""><label for
                                Panoramique> Panoramique</label></li>
                    </ul>
                </li><br>
                <li><a href="#">Formats</a>
                    <span id="clear_format" class="texte" style="display: none;"
                        onclick="unchecking('format_check', this)"> Effacer</span>
                    <ul>
                        <li><input type="checkbox" name="Classique" class="format_check"> Classique <br>
                            <p>40x50cm</p>
                        </li>
                        <li><input type="checkbox" name="grand" class="format_check"> Grand <br>
                            <p>60x90cm</p>
                        </li>
                        <li><input type="checkbox" name="Géant" class="format_check"> Géant<br>
                            <p>100x150cm</p>
                        </li>
                        <li><input type="checkbox" name="Collector" class="format_check"> Collector<br>
                            <p>120x180cm</p>
                        </li>
                    </ul>
                </li><br>
                <li><a href="#">Prix</a>
                    <span id="clear_price" class="texte" style="display: none;"
                        onclick="unchecking('price_check', this)"> Effacer</span>
                    <ul>
                        <li><input type="checkbox" class="price_check"> Moins de 50 €</li>
                        <li><input type="checkbox" class="price_check"> De 50 € à 100 €</li>
                        <li><input type="checkbox" class="price_check"> De 100 € à 200 € </li>
                        <li><input type="checkbox" class="price_check"> De 200 € à 500 € </li>
                        <li><input type="checkbox" class="price_check"> De 500 € à 1000 € </li>
                    </ul>
                </li><br>
                <li><a th:href="@{/nouveaute}">Nouveautés</a></li><br>
                <li><a th:href="@{/dernierexemplaire}">Derniers exemplaires</a></li>
            </ul>
        </nav>
    </div>
    <div id="spaceleft">
        <section>
            <div id="blackwhite">
                <h2>PHOTOGRAPHIES</h2>
                <p>
                    Les experts en art de YellowKorner ont sélectionné pour vous les plus belles photographies
                    d'art en tirages limités et numérotés. Les photographies sont disponibles dans le format de
                    votre choix et le retrait en galerie est gratuit. Des œuvres au noir & blanc intemporel aux
                    photographies de ville en passant par les clichés de grands photographes de mode, découvrez
                    tout l'univers artistique de YellowKorner.
                </p>
            </div>
            <span>
                <div id="space"></div>
            </span>
        </section>
        <section id="photographie">
            <h1>TOUTES LES PHOTOGRAPHIES</h1>
            <div id="searchphotography">
                <article th:each="pho : ${photos}">
                    <div id="formats" data-pid="51254">
                        <figure>
                            <a href="">
                                <img th:src="@{|images/${pho.link}|}" th:alt="${ pho.title }">
                            </a>
                            <figcaption>
                                <a href="">
                                    <h4 th:text="${ pho.nameArtiste }"></h4>
                                </a>
                                <a href=""><b th:text="${ pho.title }"></b></a><br>
                                <p2>à partir de </p2>
                                <b th:text="${ pho.price }"></b>
                            </figcaption>
                        </figure>
                    </div>
                </article>
            </div>
        </section>
        <!--Display of results, sorting and pagination-->
        <section id="pagin">
            <h1>Bloc de pagination</h1>
            <div></div>
        </section>
    </div>
</div>
