<head>
  <!-- STYLESHEET -->
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.7.3/themes/base/jquery-ui.css" />
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <link rel="stylesheet" th:href="@{/css/tableauadresseslivraison.css}" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <title>Tableau des utilisateurs</title>
  <!-- DON'T FORGET TO CHANGE -->
</head>

<section>
<h1>Tableau des utilisateurs</h1>

<table class="table table-striped" xmlns.th="www.thymeleaf.org">
  <thead>
    <tr>
      <th scope="col">Email</th>
      <th scope="col">Genre</th>
      <th scope="col">Nom</th>
      <th scope="col">Prenom</th>
      <th scope="col">Téléphone</th>
      <th scope="col">Role</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="user : ${users}" th:object="${user}">
      <th scope="row" th:text="*{email}"></th>
      <td th:text="*{Gtype}"></td>
      <td th:text="*{lastname}"></td>
      <td th:text="*{firstname}"></td>
      <td th:text="*{phone}"></td>
      <td th:text="*{role}"></td>
      <td>
        <a th:href="@{|/donneespersonnellesadmin/*{email}|}">
          <button class="btn btn-primary">Modifier</button>
        </a>
        <a th:href="@{|/tableauutilisateurs/*{email}|}">
          <button class="btn btn-danger">Supprimer</button>
        </a>
      </td>
    </tr>
  </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</section>