<head>
  <!-- STYLESHEET -->
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.7.3/themes/base/jquery-ui.css" />
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <link rel="stylesheet" th:href="@{/css/tableauadresseslivraison.css}" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <title>Adresses de livraison</title>
  <!-- DON'T FORGET TO CHANGE -->
</head>

<section>
<h1>Vos adresses de livraison</h1>

<table class="table table-striped" xmlns.th="www.thymeleaf.org">
  <thead>
    <tr>
      <th scope="col">Ref</th>
      <th scope="col">Titre</th>
      <th scope="col">Code Postal</th>
      <th scope="col">Ville</th>
      <th scope="col">Numéro</th>
      <th scope="col">Rue</th>
      <th scope="col">Pays</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="adresse : ${adresses}" th:object="${adresse}">
      <th scope="row" th:text="*{id}"></th>
      <td th:text="*{complement}"></td>
      <td th:text="*{zipCode}"></td>
      <td th:text="*{city}"></td>
      <td th:text="*{num}"></td>
      <td th:text="*{street}"></td>
      <td th:text="*{country}"></td>
      <td>
        <a th:href="@{|/adresseslivraison/*{id}|}">
          <button class="btn btn-primary">Modifier</button>
        </a>
        <a th:href="@{|/tableauadresseslivraison/*{id}|}">
          <button class="btn btn-danger">Supprimer</button>
        </a>
      </td>
    </tr>
  </tbody>
</table>
<form>
<div>
  <button type="submit" formaction="nouvelleadresse" ; id="bouton">Créer une nouvelle adresse</button>
</div>
</form>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</section>