<div class="container">
    <div class="collapsibledropdown">
        <nav>
            <button type="button" class="collapsible">Femme</button>
            <div class="content">
                <ul>
                    <li><a href="#femme.html">Toutes les photographies Femme</a></li><br>
                    <li><a href="#Célébrités.html">Célébrités</a></li><br>
                    <li><a href="#Légendes de la mode.html">Légendes de la mode</a></li><br>
                    <li><a href="#Nu.html">Nu</a></li><br>
                    <li><a href="#Portrait.html">Portrait</a></li>
                </ul>
            </div>
            <p></p>
            <button type="button" class="collapsible">Nature</button>
            <div class="content">
                <ul>
                    <li><a href="#nature.html">Toutes les photographies Nature</a></li><br>
                    <li><a href="#Animal.html">Animal</a></li><br>
                    <li><a href="#Eléphant.html">Eléphant</a></li><br>
                    <li><a href="#Flore.html">Flore</a></li><br>
                    <li><a href="#Lion.html">Lion</a></li><br>
                    <li><a href="#Lune.html">Lune</a></li>
                </ul>
            </div>
            <p></p>
            <button type="button" class="collapsible">Urban</button>
            <div class="content">
                <ul>
                    <li> <a href="#photographies_urban.html">Toutes les photographies Urban</a></li><br>
                    <li><a href="#Architecture.html">Architecture</a></li><br>
                    <li><a href="#Hong Kong.html">Hong Kong</a></li><br>
                    <li><a href="#New York.html">New York</a></li><br>
                    <li><a href="#Nuit.html">Nuit</a></li><br>
                    <li><a href="#Paris.html">Paris</a></li><br>
                    <li><a href="#Piscine.html">Piscine</a></li>
                </ul>
            </div>
            <p></p>
            <button type="button" class="collapsible">Noir et blanc</button>
            <div class="content">
                <ul>
                    <li><a th:href="@{/noirblanc}">Toutes les photographies Noir & Blanc</a></li><br>
                </ul>
            </div>
            <p></p>
            <button type="button" class="collapsible">Paysage</button>
            <div class="content">
                <ul>
                    <li><a href="#photographies-paysage.html">Toutes les photographies Paysage</a></li><br>
                    <li><a href="#Désert.html">Désert</a></li><br>
                    <li> <a href="#Forêt.html">Forêt</a></li><br>
                    <li><a href="#Mer.html">Mer</a></li><br>
                    <li><a href="#Montagne.html">Montagne</a></li><br>
                    <li> <a href="#Paysages fleuris.html">Paysages fleuris</a></li><br>
                    <li><a href="#Vue aérienne.html">Vue aérienne</a></li>
                </ul>
            </div>
            <p></p>
            <button type="button" class="collapsible">Voyage</button>
            <div class="content">
                <ul>
                    <li><a th:href="@{/voyage}">Toutes les photographies Voyage</a></li><br>
                    <li><a href="#Afrique & Moyen Orient.html">Afrique & Moyen Orient</a></li><br>
                    <li><a href="#Amérique du Nord.html">Amérique du Nord</a></li><br>
                    <li><a href="#Amérique latine.html">Amérique latine</a></li><br>
                    <li><a href="#Asie.html">Asie</a></li><br>
                    <li><a href="#Europe.html">Europe</a></li><br>
                    <li><a href="#Grand froid.html">Grand froid</a></li><br>
                    <li><a href="#Iles.html">Iles</a></li>
                </ul>
            </div>
            <p></p>
            <button type="button" class="collapsible">Vintage</button>
            <div class="content">
                <ul>
                    <li><a href="#vintage.html">Toutes les photographies Vintage</a></li>
                </ul>
            </div>
        </nav>
    </div>
    <div id="spaceleft">
        <section>
            <div id="blackwhite">
                <h2>VOYAGE</h2>
                <p>
                    L' Asie, l' Europe ou encore l' Amérique Latine, découvrez dès maintenant toutes les photographies
                    de notre sélection Voyage.
                </p>
            </div>
        </section>
        <section id="photographie">
            <h1>ASIE</h1>
            <div id="travelphotography">
                <th:block th:each="travel : ${travels}">
                    <article th:each="trav : ${travel.oeuvres}">
                        <figure>
                            <a href="">
                                <img th:src="@{|/images/${trav.link}|}" th:alt="${ trav.title }">
                            </a>
                            <figcaption>
                                <a href="">
                                    <h4 th:text="${ trav.nameArtiste }"></h4>
                                </a>
                                <a href=""><b th:text="${ trav.title }"></b></a><br>
                                <p th:text="${ trav.tirage }"></p>
                                <p2>à partir de </p2>
                                <b th:text="${ trav.price }"></b>
                            </figcaption>
                        </figure>
                    </article>
                </th:block>
            </div>
        </section>
        <section id="photographie">
            <h1>EUROPE</h1>
            <div id="travelphotography">
                <th:block th:each="travel : ${traveu}">
                    <article th:each="trav : ${travel.oeuvres}">
                        <figure>
                            <a href="">
                                <img th:src="@{|/images/${trav.link}|}" th:alt="${ trav.title }">
                            </a>
                            <figcaption>
                                <a href="">
                                    <h4 th:text="${ trav.nameArtiste }"></h4>
                                </a>
                                <a href=""><b th:text="${ trav.title }"></b></a><br>
                                <p th:text="${ trav.tirage }"></p>
                                <p2>à partir de </p2>
                                <b th:text="${ trav.price }"></b>
                            </figcaption>
                        </figure>
                    </article>
                </th:block>
            </div>
        </section>
        <section id="photographie">
            <h1>AFRIQUE & MOYEN ORIENT</h1>
            <div id="travelphotography">
                <th:block th:each="travel : ${travaf}">
                    <article th:each="trav : ${travel.oeuvres}">
                        <figure>
                            <a href="">
                                <img th:src="@{|/images/${trav.link}|}" th:alt="${ trav.title }">
                            </a>
                            <figcaption>
                                <a href="">
                                    <h4 th:text="${ trav.nameArtiste }"></h4>
                                </a>
                                <a href=""><b th:text="${ trav.title }"></b></a><br>
                                <p th:text="${ trav.tirage }"></p>
                                <p2>à partir de </p2>
                                <b th:text="${ trav.price }"></b>
                            </figcaption>
                        </figure>
                    </article>
                </th:block>
            </div>
        </section>
        <section id="photographie">
            <h1>AMERIQUE DU SUD</h1>
            <div id="travelphotography">
                <th:block th:each="travel : ${travam}">
                    <article th:each="trav : ${travel.oeuvres}">
                        <figure>
                            <a href="">
                                <img th:src="@{|/images/${trav.link}|}" th:alt="${ trav.title }">
                            </a>
                            <figcaption>
                                <a href="">
                                    <h4 th:text="${ trav.nameArtiste }"></h4>
                                </a>
                                <a href=""><b th:text="${ trav.title }"></b></a><br>
                                <p th:text="${ trav.tirage }"></p>
                                <p2>à partir de </p2>
                                <b th:text="${ trav.price }"></b>
                            </figcaption>
                        </figure>
                    </article>
                </th:block>
            </div>
        </section>
        <section id="photographie">
            <h1>GRAND FROID</h1>
            <div id="travelphotography">
                <th:block th:each="travel : ${travegf}">
                    <article th:each="trav : ${travel.oeuvres}">
                        <figure>
                            <a href="">
                                <img th:src="@{|/images/${trav.link}|}" th:alt="${ trav.title }">
                            </a>
                            <figcaption>
                                <a href="">
                                    <h4 th:text="${ trav.nameArtiste }"></h4>
                                </a>
                                <a href=""><b th:text="${ trav.title }"></b></a><br>
                                <p th:text="${ trav.tirage }"></p>
                                <p2>à partir de </p2>
                                <b th:text="${ trav.price }"></b>
                            </figcaption>
                        </figure>
                    </article>
                </th:block>
            </div>
        </section>
        <section id="photographie">
            <h1>AMERIQUE LATINE</h1>
            <div id="travelphotography">
                <th:block th:each="travel : ${traval}">
                    <article th:each="trav : ${travel.oeuvres}">
                        <figure>
                            <a href="">
                                <img th:src="@{|/images/${trav.link}|}" th:alt="${ trav.title }">
                            </a>
                            <figcaption>
                                <a href="">
                                    <h4 th:text="${ trav.nameArtiste }"></h4>
                                </a>
                                <a href=""><b th:text="${ trav.title }"></b></a><br>
                                <p th:text="${ trav.tirage }"></p>
                                <p2>à partir de </p2>
                                <b th:text="${ trav.price }"></b>
                            </figcaption>
                        </figure>
                    </article>
                </th:block>
            </div>
        </section>
        <section id="pagin">
            <h1>Bloc de pagination</h1>
            <div id="pagination">
                <article th:each="pag : ${pagina}">
                    <figure>
                        <a href="">
                            <img th:src="@{|images/${pag.link}|}" th:alt="${ pag.title }">
                        </a>
                        <figcaption>
                            <a href="">
                                <h4 th:text="${ pag.nameArtiste }"></h4>
                            </a>
                            <a href=""><b th:text="${ pag.title }"></b></a><br>
                            <div id="laste">
                                <form>
                                    <!-- <label th:text="${ last.tirage }"></label><br> -->
                                    <label>Edition limitée</label><br>
                                    <input type="text" name="new" id="" value="CETTE OUEVRE PREND DE LA VALEUR">
                                </form>
                            </div>
                            <p2>à partir de </p2>
                            <b th:text="${ pag.price }"></b>
                        </figcaption>
                    </figure>
                </article>
            </div>
        </section>
        <div>
            <nav aria-label="navigation">
                <ul class="pager">
                    <li class="previous"><a href="#" title="Précédent">Précédent</a></li>
                    <li class="next"><a href="#" title="Suivant">Suivant</a></li>
                </ul>
            </nav>
        </div>
    </div>