body div.container {
  font-size: 18px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
body div.container a {
  text-decoration: none;
  color: rgb(6, 6, 44);
}
body div.container a:visited {
  color: black;
  text-decoration: none;
}
body div.container section{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    min-width: 300vh;
}
 body div.container section#carousel {
  overflow: hidden;
  overflow-x: auto;
  display: inline-block;
 }
 
body div.container section#caroussel {
  width: 100%;
  height: 200px;
  position: absolute;
  border-radius: 10px 10px 10px 10px;
  background-color: rgb(168, 170, 172); 
  /* opacity: 1; */
}
body div.container section div#legende {
  text-align: center;
  font-size: 18px;
  width: 100%;
}

body div.container section div#slider {
    /* display: inline-block; */
    width: 100%; 
    max-width: 300px; 
    /* margin: 0;
    padding: 0; */
}
body div.container section div#slider figure {
    position: relative; 
    width: 300px;
    height: auto;
    /* margin: 0;
    padding: 0; */
    font-size: 0;
    text-align: left;
    object-fit: cover;
}
body div.container section div#slider figure img {
    width: 300px; 
    height: 250px; 
    float: left; 
    /* margin: 0;
    padding: 0;  */
    /*  object-fit: cover; */
}
body div.container section div#slider {
    width: 100%; 
    max-width: 300px; 
    overflow: hidden;
   /*  margin: 0;
    padding: 0;  */
  }

@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
105% { left: -500%; }
110% { left: -600%; }
115% { left: -700%; }
120% { left: -800%; }
125% { left: -900%; }
130% { left: -1000%; }
135% { left: -900%; }
140% { left: -800%; }
}

 div#slider figure {
  position: relative;
  width: 300%;
  margin: 0;
  padding: 0;
  left: 0;
  text-align: left;
  animation: 10s slidy infinite;
}
  body div.container section#listoeuvres {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 0 auto;
    margin: 0;
    padding: 0;
  }
  body div.container section#listoeuvres div#titre {
    text-align: center;
    font-size: 20px;
  }
  body div.container section div#photoeuvre article {
    display: inline-block;
    grid-template-columns: 200px 200px 200PX 200px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
  body div.container section div#photoeuvre article figure {
    display: block;
    font-size: 12px;
    width: 200px;
    height: 0 auto;
    margin: 2px;
    padding: 2px;
  }
  body div.container section div#photoeuvre article figure :hover {
    display: block;
  cursor: pointer;
  width: 350px;
  height: 0 auto;
  }
  body div.container section div#photoeuvre article figure img {
    width: 200px;
    height: auto;
  }

  body div.container section div#photoeuvre article figure figcaption {
    text-align: right;
    font-size: 12px;
  }


body div.container section#quatro {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr;
}
body div.container section#quatro article figure {
  position: relative;
  margin: 0;
  padding: 0;
}
body div.container section#quatro article figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  object-fit: cover;
  object-position: center;
  filter: brightness(0.5);
}

body div.container section#quatro article:nth-child(1) {
  grid-row: 1;
  grid-column: 1;
}
body div.container section#quatro article:nth-child(2) {
  grid-row: 1;
  grid-column: 2;
}
body div.container section#quatro article:nth-child(3) {
  grid-row: 2;
  grid-column: 1;
}
body div.container section#quatro article:nth-child(4) {
  grid-row: 2;
  grid-column: 2;
}

body div.container section#quatro article figure figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  text-transform: capitalize;
  line-height: 4em;
  font-size: 20px;
}

body div.container section#quatro article figure figcaption a {
  text-decoration: none;
  color: yellow;
}
body div.container section#quatro article figure figcaption a:visited {
  color: white;
  text-decoration: none;
}
