main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main #prevualisation {
  border: 1px solid black;
  width: calc(50% - 32px);
  height: 100%;
  margin: 0 10px 10px 0;
  padding: 10px;
}

main #prevualisation #principal figure {
  position: relative;
  text-align: center;
  margin: 10px;
}

main #prevualisation #principal figure #sourceIMG {
  width: 100%;
  height: auto;
  max-height: 500px;
}

main #prevualisation #principal figure #sourceHover {
  position: absolute;
  width: 20%;
  height: auto;
  top: 10%;
  left: 53%;
}

main #prevualisation #miniatures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main #prevualisation #miniatures figure {
  text-align: center;
  margin: 10px;
}

main #prevualisation #miniatures figure img {
  width: 100px;
}

main #prevualisation #miniatures figure img:hover {
  cursor: pointer;
}

main #prevualisation #miniatures button {
  padding: 5px;
  margin-left: auto;
}

main #prevualisation #modalIMG {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding-top: 100px;
  display: none;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.9);
}

main #prevualisation #modalIMG figure #modalContent {
  margin: auto;
  display: block;
  width: 100%;
  max-width: 1225px;
  -webkit-animation-name: zoom;
          animation-name: zoom;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

main #prevualisation #modalIMG figure #modalHover {
  position: absolute;
  width: 10%;
  height: auto;
  top: 23%;
  left: 53%;
  -webkit-animation-name: zoom;
          animation-name: zoom;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}

main #prevualisation #modalIMG .close {
  position: absolute;
  color: white;
  top: 30px;
  right: 30px;
  font-size: 30px;
}

main #prevualisation #modalIMG .close:hover {
  cursor: pointer;
}

main #personnalisation {
  width: calc(50% - 32px);
  height: auto;
  margin: 0 0 10px 10px;
  padding: 10px;
  border: 1px solid black;
}

main #personnalisation h4 {
  text-align: center;
}

main #personnalisation hr {
  margin: 10px 0;
}

main #personnalisation .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 10px;
}

main #personnalisation .tabs button {
  width: 100%;
  padding: 10px;
}

main #personnalisation .tabContent {
  display: none;
  margin-bottom: 10px;
}

main #personnalisation .tabContent .formDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding: 10px;
  border: 1px solid white;
}

main #personnalisation .tabContent .formDiv:hover {
  border: 1px solid black;
}

main #personnalisation .tabContent .formDiv #formatDesc {
  width: 80%;
}

main #personnalisation .tabContent .formDiv figure {
  width: 5%;
}

main #personnalisation .tabContent #otherFormat .finForm, main #personnalisation .tabContent #classiqueFormat .finForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding: 10px;
  border: 1px solid white;
}

main #personnalisation .tabContent #otherFormat .finForm:hover, main #personnalisation .tabContent #classiqueFormat .finForm:hover {
  border: 1px solid black;
}

main #personnalisation .tabContent #otherFormat .finForm #finitionDesc, main #personnalisation .tabContent #classiqueFormat .finForm #finitionDesc {
  width: 80%;
}

main #personnalisation .tabContent #otherFormat .finForm figure, main #personnalisation .tabContent #classiqueFormat .finForm figure {
  width: 15%;
}

main #personnalisation .tabContent #otherFormat .finForm figure img, main #personnalisation .tabContent #classiqueFormat .finForm figure img {
  width: 90%;
  height: auto;
}

main #personnalisation .tabContent .cdrForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding: 10px;
  border: 1px solid white;
}

main #personnalisation .tabContent .cdrForm:hover {
  border: 1px solid black;
}

main #personnalisation .tabContent .cdrForm #cadreDesc {
  width: 80%;
}

main #personnalisation .tabContent .cdrForm figure {
  width: 15%;
}

main #personnalisation .tabContent .cdrForm figure img {
  width: 90%;
  height: auto;
}

main #personnalisation #prevNext {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

main #personnalisation #prevNext button {
  padding: 10px;
}

main #personnalisation #divBtnChoose {
  margin-bottom: 10px;
}

main #personnalisation #divBtnChoose .btnChoose {
  display: none;
  padding: 10px;
  width: 100%;
}

@-webkit-keyframes zoom {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
/*# sourceMappingURL=achat.css.map */