body{
    margin:0 auto;
    }
    
    body h1{
        border-bottom: black 3px solid; width:100%;padding-top: 20px;
    
        
    }
    
    section{
        margin:0 auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;
        background-color: rgb(238, 236, 236);
        width: 80%;
        
    }
    
    
    section form{
        
        border:grey 0.5px solid;
        background-color: whitesmoke;
        color:black;
        padding: 10px;
        margin: 20px;
        min-width: 360px;
        max-width: 400px;
    
    }
    
    section form button {
        align-items: center;
    }
    
    #adresseslivraison{
        background-color:whitesmoke;color:black;outline:none;border: solid 3px;height:50px;width: 80%;margin-top: 10px;margin-bottom: 20px;
       
    }