body {
  margin: 0 auto;
}
a {
  color: inherit;
  text-decoration: none;
}

section {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  background-color: rgb(238, 236, 236);
}

section article {
  color: black;
  padding: 20px;
}

section article:nth-child(1) {
  width: calc(30% - (20px * 2));
  min-width: 200px;
}

section article:nth-child(2) {
  width: calc(70% - (20px * 2));
  min-width: 300px;
}

section article ul {
    list-style: none;
  }


section article nav ul {
  list-style: none;
}

section article nav ul li{
    margin: 5px 0;
}

section article nav b {
    display: block;
  margin-top: 20px;
}

body h1 {
  border-bottom: black 3px solid;
  width: 100%;
  margin-bottom: 20px;
}

section article div.mon_compte {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
  width: 160px;
}

section article div img.size_svg {
  width: 32px;
  height: auto;
  margin-right: 10px;
}
