 section{
    width: 100%;
    text-align: left;
    font-size: 18px;
    box-sizing: border-box;
  }

  section a {
    text-decoration: none;
    color: rgb(6, 6, 44);
  }
  section a:visited {
    color: black;
    text-decoration: none;
  }
  section#header {
      display: inline-block;
      list-style-type: none;
      color: rgb(133, 5, 5);
      margin: 5px;
      padding: 5px;
  }
  section nav{
  width: 100%;
  height: 30px;
  padding: 5px;
  border: none;
  cursor: pointer;
  margin-left:0px; 
  }
  section nav div#listoeuvres{
    display: inline;  
  }
section nav div#listoeuvres ul li{
    list-style-type: none;
    float: left;
    position: relative;   
}

section nav div#listoeuvres ul li a{
    margin: 10px;
    padding: 10px;
}

section#table {
  display: table-column;
  border: 1px solid black;
    list-style-type: none;
    margin: 20px;
    padding: 20px;
    width: 100%;
    height: 0 auto;
    box-sizing: border-box;
} 

section#table button#modifie {
    background-color: rgb(29, 14, 241);
    color: white;
    border-radius: 20px 20px 20px 20px;
    box-sizing: border-box;
}
section#table button#supprime{
    background-color: red;
    color: white;
    border-radius: 20px 20px 20px 20px;
}


section#formulaire form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  height: 0 auto;
  padding: 1px;
  margin: 1px; 
  border-radius: 20px 20px 20px 20px;
  border: 1px solid rgb(168, 165, 165);
  background-color: rgb(231, 229, 225);
}
section#formulaire form div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  left: 0;
  width: 100%;
  padding: 5px;
  margin: 5px; 
}
section#formulaire form div label,
section#formulaire form div input,
section#formulaire form button#submit {
  min-width: 200px;
  width: calc(30% - (4px * 2));
  max-width: 400px;
  width: 45%;
}
section#formulaire form div input{
    width: 50%;
    height: 25px; 
    border-radius: 5px 5px 5px 5px;
}
section#formulaire form button#submit {
  width: 100px;
  height: 40px;
  background-color: green;
}

