body main #empty figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body main #empty figure img {
  width: 65%;
}
body main #empty figure figcaption {
  color: #544881;
}
body main #notEmpty {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main #notEmpty article {
  width: 100%;
  display: flex;
  align-items: center;
}
body main #notEmpty article figure {
  display: flex;
  align-items: center;
  justify-content: center;
}
body main #notEmpty article figure img {
  width: 75%;
  height: auto;
  padding: 5px 0;
}
body main #notEmpty article #details {
  display: flex;
  flex-direction: column;
}
body main #notEmpty article #buttons {
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main #notEmpty article #buttons button {
  font-size: 1em;
  padding: 8px;
  margin-right: 10px;
  border-radius: 5px;
  background-color: #DEB992;
}
body main #notEmpty article:nth-child(even) {
  background-color: rgba(170, 170, 160, 0.5);
}
body main #notEmpty #checkoutBtn {
  font-size: 1em;
  padding: 10px 150px;
  border-radius: 5px;
  background-color: #DEB992;
}
body main #total {
  padding: 50px 0;
}
body main #total #totalPrice {
  font-size: large;
  font-style: italic;
}
