/* GLOBAL STYLE */
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

/* NAVBAR */
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header nav #topNav {
  min-width: 100%;
  background-color: #051622;
  color: white;
}

header nav #topNav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 70px;
}

header nav #topNav ul #leftSideNavTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  margin-left: 5px;
}

header nav #topNav ul #leftSideNavTop li {
  margin-right: 10px;
}

header nav #topNav ul #leftSideNavTop li a {
  color: white;
  text-decoration: none;
  -webkit-transition: border-bottom 1s ease;
  transition: border-bottom 1s ease;
  border-bottom: 0px solid #051622;
}

header nav #topNav ul #leftSideNavTop li a:hover {
  border-bottom: 1px solid white;
}

header nav #topNav ul #leftSideNavTop li figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav #topNav ul #leftSideNavTop li figure img {
  height: 30px;
  width: 30px;
  margin-right: 5px;
}

header nav #topNav ul #centerSideNavTop {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

header nav #topNav ul #centerSideNavTop li a {
  color: white;
  text-decoration: none;
  text-align: center;
}

header nav #topNav ul #centerSideNavTop li figure img {
  margin-top: 5px;
  height: 30px;
  width: 250px;
}

header nav #topNav ul #centerSideNavTop li figure figcaption {
  margin-top: 5px;
}

header nav #topNav ul #rightSideNavTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 4px;
}

header nav #topNav ul #rightSideNavTop li a {
  color: white;
  text-decoration: none;
}

header nav #topNav ul #rightSideNavTop li #search {
  margin-left: 10px;
  margin-right: 5px;
}

header nav #topNav ul #rightSideNavTop li #search input {
  padding: 10px;
  border: none;
}

header nav #topNav ul #rightSideNavTop li #search button {
  padding: 13.5px;
  float: right;
  border: none;
}

header nav #bottomNav {
  min-width: 100%;
  background-color: #DEB992;
}

header nav #bottomNav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  min-height: 50px;
}

header nav #bottomNav ul li a {
  text-decoration: none;
  margin-left: 10px;
  color: #181818;
  -webkit-transition: border-bottom 1s ease;
  transition: border-bottom 1s ease;
  border-bottom: 0px solid #DEB992;
}

header nav #bottomNav ul li a:hover {
  border-bottom: 1px solid #181818;
}

header nav #filAriane {
  min-width: 100%;
  background-color: grey;
}

header nav #filAriane ul {
  min-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

header nav #filAriane ul li {
  margin-right: 10px;
}

header nav #filAriane ul li::before {
  content: "/";
}

header nav #filAriane ul li:first-child::before {
  content: "";
}

header nav #filAriane ul li a {
  text-decoration: none;
  color: white;
  margin-left: 10px;
  -webkit-transition: border-bottom 1s ease;
  transition: border-bottom 1s ease;
  border-bottom: 0px solid grey;
}

header nav #filAriane ul li a:hover {
  border-bottom: 1px solid white;
}

/* MAIN STYLE */
main {
  margin: 30px;
  max-width: 100%;
  min-height: calc( 100vh - 262px );
}

/* FOOTER */
footer {
  background-color: #051622;
  color: white;
  min-height: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer a {
  text-decoration: none;
  color: white;
}

footer #leftSideFooter {
  margin-left: 10px;
}

footer #leftSideFooter span {
  margin-left: 10px;
}

footer #centerSideFooter {
  margin-left: auto;
  margin-right: auto;
}

footer #centerSideFooter a {
  margin-left: 10px;
  -webkit-transition: border-bottom 1s ease;
  transition: border-bottom 1s ease;
  border-bottom: 0px solid #051622;
}

footer #centerSideFooter a:hover {
  border-bottom: 1px solid white;
}

footer #rightSideFooter a {
  margin-right: 10px;
}