body {
  margin: 0 auto;
}

body h1 {
  border-bottom: black 3px solid;
  width: 100%;
  padding-top: 20px;
}

section {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(238, 236, 236);
  width: 80%;
}

section table {
  border: grey 1px solid;
  border-collapse: collapse;
  /* width: 70%; */
  margin-top: 15px;
  margin-bottom: 15px;
  min-width: calc(70% * 1150px);
  /* table-layout: fixed; */
  max-width: 900px;
}

th, td {
  border: thin solid grey;
  width: 200px;
  padding: 5px;
  text-align: center;
}

th {
  background-color: whitesmoke;
}

td {
  background-color: #ffffff;
}

section div {
  text-align: center;
  width: 55%;
  min-width: 360px;
  max-width: 900px;
  margin: 0 auto;
}

section form div input {
  background-color: whitesmoke;
  color: black;
  outline: none;
  border: solid 3px;
  height: 50px;
  width: 30%;
  margin-top: 10px;
  margin-bottom: 20px;
}
