body {
  margin: 0 auto;
}

body section h1 {
  border-bottom: black 3px solid;
  padding-top: 20px;
}

section {
  background-color: rgb(238, 236, 236);
  width: 100%;
}

section table {
  border: grey 0.5px solid;
  background-color: whitesmoke;
  color: black;
  margin-top: 15px;
}

#bouton{
  background-color:whitesmoke;color:black;outline:none;border: solid 3px;height:50px;width: 80%;margin-top: 10px;margin-bottom: 20px;
 
}
