<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Kartina, site de vente de photos d'art">
    <meta name="author" content="CoVEd">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- STYLESHEET -->
    <link rel="stylesheet" th:href="@{/css/all.css}"> <!-- Font Awesome Stylesheet /!\ DON'T TOUCH -->
    <link rel="stylesheet" th:href="@{/css/squeletton.css}"> <!-- Squeletton CSS /!\ DON'T TOUCH -->

    <link rel="stylesheet" th:href="@{/css/accueil.css}"><!-- Accueil CSS /!\ DON'T TOUCH -->
    <link rel="stylesheet" th:href="@{/css/page_artiste.css}"> <!-- PageArtiste CSS /!\ DON'T TOUCH -->
    <link rel="stylesheet" th:href="@{/css/parcoursrecherche.css}"><!-- parcoursrecherche.css /!\ DON'T TOUCH -->
    <link rel="stylesheet" th:href="@{/css/theme.css}"><!-- theme.css /!\ DON'T TOUCH -->
    <link rel="stylesheet" th:href="@{/css/form.css}"><!-- Form.css /!\ DON'T TOUCH -->

    <!-- FONT -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <title>Kartina</title><!-- DON'T FORGET TO CHANGE -->
</head>

<body>


    <th:block th:insert="~{fragments/layouts/header}" />

    <main>
        <script th:if="${statusMessage}" th:inline="javascript">
            /*<![CDATA[*/

            var message = /*[[${statusMessage}]]*/ 'default';
            alert(message);

            /*]]>*/
        </script>

        <th:block th:if="${fragment}">
            <th:block th:insert="~{|fragments/${fragment}|}" />
        </th:block>
    </main>

    <section id="table">
        <div class="p-5">
            <table class="table table-striped" xmlns:th="http://www.thymeleaf.org">
                <thead>
                <tr>
                    <th scope="col">Ref</th>
                    <th scope="col">NameArtiste</th>
                    <th scope="col">Title</th>
                    <th scope="col">Link</th>
                    <th scope="col">Tirage</th>
                    <th scope="col">Price</th>
                    <th scope="col">DateAjout</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="art : ${articles}" th:object="${art}">
                    <th scope="row" th:text="*{ref}"></th>
                    <td th:text="*{nameArtiste}">Mark</td>
                    <td th:text="*{title}">Mark</td>
                    <td th:text="*{link}">Otto</td>
                    <td th:text="*{tirage}">Mark</td>
                    <td th:text="*{price}">Mark</td>
                    <td th:text="*{dateAjout}">@mdo</td>
                    <td>
                        <a th:href="@{|/user/oeuvres/*{ref}?action=update|}">
                            <button class="" id="modifie">Modifié</button>
                        </a>
                        <a th:href="@{|/user/oeuvres/*{ref}?action=delete|}">
                            <button class="" id="supprime">Supprimer</button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
          </div>
        </section>

    <th:block th:insert="~{fragments/layouts/footer}" />

    <script th:src="@{/js/squeletton.js}"></script><!-- Squeletton JS /!\ DON'T TOUCH -->
    <script th:src="@{/js/parcours_recherche.js}"></script><!-- parcoursrecherche JS /!\ DON'T TOUCH -->
    <script th:src="@{/js/theme.js}"></script><!-- theme JS /!\ DON'T TOUCH -->


</body>

</html>
