    <!-- FOOTER -->
    <footer>
        <div id="leftSideFooter">
            <a href="javascript:void(0)" onclick="alert('Comming Soon')">
                <i class="fa fa-flag"></i>
                FR
            </a>
            <span>@CoVEd 2020</span>
        </div>

        <div id="centerSideFooter">
            <a th:href="@{/mentions_legales}">Mentions légales</a>
            <a th:href="@{/cgu}">Conditions générales d'utilisation</a>
        </div>

        <div id="rightSideFooter">
            <a href="http://twitter.com" target="_blank" class="fab fa-twitter"></a>
            <a href="http://facebook.com" target="_blank" class="fab fa-facebook"></a>
        </div>
    </footer>