    <!-- HEADER -->
    <header>
        <nav>
            <div id="topNav">
                <ul>
                    <div id="leftSideNavTop">
                        <li>
                            <a th:href="@{/login}" th:if="!${session.user}">
                                <figure>
                                    <img th:src="@{/images/avatar.png}" alt="Avatar Utilisateur">
                                    <figcaption>Guest</figcaption>
                                </figure>
                            </a>

                            <a th:href="@{/moncompte}" th:if="${session.user}">
                                <figure>
                                    <img th:src="@{/images/avatar.png}" alt="Avatar Utilisateur">
                                    <figcaption  th:text="${session.user.firstname}"></figcaption>
                                </figure>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/panier}">
                                <i class="fa fa-shopping-cart"></i>
                                Panier
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/aide}">
                                <i class="fas fa-question-circle"></i>
                                Aide
                            </a>
                        </li>
                        <li>
                            <a href="logout" th:if="${session.user}">
                                <i class="fas fa-sign-out-alt"></i>
                                Logout
                            </a>
                        </li>

                    </div>
                    <div id="centerSideNavTop">
                        <li>
                            <a th:href="@{/}">
                                <figure>
                                    <img th:src="@{/images/logo.png}" alt="Kartina Logo">
                                    <figcaption>La photographie selon Kartina</figcaption>
                                </figure>
                            </a>
                        </li>
                    </div>
                    <div id="rightSideNavTop">
                        <li>
                            <a href="javascript:void(0)" onclick="alert('Comming Soon')">
                                <i class="fa fa-flag"></i>
                                FR
                            </a>
                        </li>
                        <li>
                            <form id="search" action="">
                                <input type="text" name="searchInput" id="searchInput" placeholder="Rechercher sur Kartina">
                                <button type="submit" class="fa fa-search"></button>
                            </form>
                        </li>
                    </div>
                </ul>
            </div>
            <div id="bottomNav">
                <ul>
                    <li>
                        <a th:href="@{/photographie}">Photographie</a>
                    </li>
                    <li>
                        <a th:href="@{/nouveaute}">Nouveautés</a>
                    </li>
                    <li>
                        <a th:href="@{/artistes}">Artistes</a>
                    </li>
                    <li>
                        <a th:href="@{/dernierexemplaire}">Derniers exemplaires</a>
                    </li>
                </ul>
            </div>
            <div aria-label="FilAriane" id="filAriane">
                <!-- HOW TO ?
                    JUST ADD LINK BEFORE IN <li><a href="">NAME</a></li>
                    ADD CURRENT LINK IN <li><span aria-current="page">NAME</span></li>
                -->
                <ul>
                    <li>
                        <a th:href="@{/}">Accueil</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

   